@media  screen and (min-width: 780px) and (max-width:1400px){
    .carrusel-container {
        width: 100%;
    }
    
}

@media screen and (min-width: 480px) and (max-width: 780px){
    .carrusel-container{
        width: 100%;
    }
     
}

@media screen and (max-width: 480px){
    .carrusel-container {
       width: 100%;
    }
    
   
}

