.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    gap: 50px;
    padding: 45px 0px;
}

.logo-footer{
    width: 200px;
    height: 200px;
}

.pie-pagina .grupo-1 .box .figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box .figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;

}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;

}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo-2{
    background-color:#0a1a2a ;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    
.pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns:repeat(1, 1fr) ;
    gap: 30px;
    padding: 35px 0px;
}

}

.red-red{
    width: 30px;
    height: 30px;
}

.espacio-footer{
    margin-top:5%;
}


/*whatsapp*/
.boton-container{
    background-color: #2e6329;
    border: 1px solid white;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3;
    animation: whatsapp 1.2s infinite;

}

.boton-container:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 80px;
    transition: ease 1s;
}

@keyframes whatsapp{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }

    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}

//footertop

