.footer-container {
    background-color:#9e9ead;
    height: 120px;
}

.nav-container {
    display: flex;
    justify-content:space-between;
    list-style: none;
    width:400px;
    padding-top: 40px;
}

.icono-items{
    width: 40px;
    height: 40px;
}




