
.header-container {
    background-color:#295d99;
    height: 80px;
}

.didactico {
    display: flex;
    justify-content: space-around;
    padding-top:40px;
}

.carrusel {
    width:440px;
    height:440px;

}

.animacion {
    height: 450px;
    width: 550px;
    padding-bottom:50px;
    }