.grid-container {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 1em;
    align-items: center;
    margin-left: 40px;
    
}
  
.parrafo-main {
    padding-left: 100px;
    text-align: center;
   
}

.grid-img {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;
    align-items: center;
}
