.grid-container {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:300px;
    border: 2px solid rgb(3, 156, 156);
   

}

.parrafo-grid {
    text-align: center;
    padding-right: 200px;
    padding-top: 70px;
    align-items: center;
    
}
.img-grid {
    padding-left: 100px;
    height: 550px;
}